
PrjCartao.identcache
__history/UDmConexao.dfm.~7~
PrjCartao.identcache
PrjCartao.identcache
PrjCartao.identcache
*.identcache
*.~211~
__history/UnitGetNet.pas.~211~
__history/UnitGetNet.pas.~211~
__history/UnitGetNet.pas.~212~
__history/UnitGetNet.pas.~221~
__history/UnitGetNet.pas.~222~
__history/UnitPrinicipal.dfm.~209~
__history/UnitPrinicipal.dfm.~219~
__history/UnitPrinicipal.pas.~524~
__history/UnitPrinicipal.pas.~534~
__history/UnitGetNet.pas.~211~
__history/UnitGetNet.pas.~212~
__history/UnitPrinicipal.dfm.~209~
__history/UnitPrinicipal.pas.~524~
Win32/Debug/UDmCartaoSodexo.dcu
Win32/Debug/UDmConexao.dcu
Win32/Debug/UDmGetNet.dcu
Win32/Debug/UDmRetaguarda.dcu
Win32/Debug/uDmTciket.dcu
Win32/Debug/UnitCielo.dcu
Win32/Debug/UnitGetNet.dcu
Win32/Debug/UnitPesqTitCart.dcu
Win32/Debug/UnitPrinicipal.dcu
Win32/Debug/UnitProgressoImportacao.dcu
Win32/Debug/UnitSodexoAlimentaPass.dcu
Win32/Debug/UnitTicket.dcu
Win32/Debug/XPROCS.dcu
*.dcu
.~